[submodule "eventsapp"]
	path = eventsapp
	url = https://github.com/jonathanfreiredev/eventsapp.git
[submodule "eventsapp-backend"]
	path = eventsapp-backend
	url = https://github.com/jonathanfreiredev/eventsapp-backend.git
